In [ ]:
from streamlit_option_menu import option_menu
import PIL 
from PIL import Image
import base64
import plotly.express as px
import mysql.connector
import json
import pandas as pd
import os

In [ ]:
###DATA EXTRACTION
#aggregated insurance

path0="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/aggregated/insurance/country/india/state/"
agg_insu_list=os.listdir(path0)

column0={'States':[], 'Year':[],'Quarter':[],'Transaction_name':[],'Transaction_amount':[],'Transaction_count':[]}

for states in agg_insu_list:
    cur_state=path0+states+"/"
    agg_year_list=os.listdir(cur_state)

    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)

        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            A=json.load(data)
          

            for i in A["data"]["transactionData"]:
                payment_name=i["name"]
                payment_amount=i["paymentInstruments"][0]["amount"]
                payment_count=i["paymentInstruments"][0]["count"]                   
                column0['Transaction_name'].append(payment_name)
                column0['Transaction_amount'].append(payment_amount)
                column0['Transaction_count'].append(payment_count)
                column0['States'].append(states)
                column0['Year'].append(year)
                column0['Quarter'].append(int(file.strip('.json')))
Agg_insu=pd.DataFrame(column0)
Agg_insu["States"]=Agg_insu["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Agg_insu["States"]=Agg_insu["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Agg_insu["States"]=Agg_insu["States"].str.replace("-"," ")
Agg_insu["States"]=Agg_insu["States"].str.title()
Agg_insu


#aggregated transaction
path1="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list=os.listdir(path1)

column1={'States':[], 'Year':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}

for states in agg_tran_list:
    cur_state=path1+states+"/"
    agg_year_list=os.listdir(cur_state)

    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            B=json.load(data)
            for i in B['data']['transactionData']:
                Name=i['name']
                Count=i['paymentInstruments'][0]['count']
                Amount=i['paymentInstruments'][0]['amount']
                column1['Transaction_type'].append(Name)
                column1['Transaction_count'].append(Count)
                column1['Transaction_amount'].append(Amount)
                column1['States'].append(states)
                column1['Year'].append(year)
                column1['Quarter'].append(int(file.strip('.json')))
Agg_Trans=pd.DataFrame(column1)
Agg_Trans["States"]=Agg_Trans["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Agg_Trans["States"]=Agg_Trans["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Agg_Trans["States"]=Agg_Trans["States"].str.replace("-"," ")
Agg_Trans["States"]=Agg_Trans["States"].str.title()
Agg_Trans

#aggregrated user

path2="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/aggregated/user/country/india/state/"
agg_user_list=os.listdir(path2)

column2={'States':[], 'Year':[],'Quarter':[],'Brand':[],'Count':[],'Percentage':[]}

for states in agg_user_list:
    cur_state=path2+states+"/"
    agg_year_list=os.listdir(cur_state)

    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            C=json.load(data)
            try:
                for i in C["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    column2['Brand'].append(brand)
                    column2['Count'].append(count)
                    column2['Percentage'].append(percentage)
                    column2['States'].append(states)
                    column2['Year'].append(year)
                    column2['Quarter'].append(int(file.strip(".json")))

            except:
                pass

Agg_user=pd.DataFrame(column2)
Agg_user["States"]=Agg_user["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Agg_user["States"]=Agg_user["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Agg_user["States"]=Agg_user["States"].str.replace("-"," ")
Agg_user["States"]=Agg_user["States"].str.title()
Agg_user


#map_insu
path3="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/map/insurance/hover/country/india/state/"
map_insu_list=os.listdir(path3)

column3={'States':[], 'Year':[],'Quarter':[],'District':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in map_insu_list:
    cur_state=path3+states+"/"
    map_year_list=os.listdir(cur_state)
    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            D=json.load(data)
            for i in D["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]['amount']
                column3["District"].append(name)
                column3["Transaction_Count"].append(count)
                column3["Transaction_Amount"].append(amount)
                column3['States'].append(states)
                column3['Year'].append(year)
                column3['Quarter'].append(int(file.strip(".json")))
                
Map_insu=pd.DataFrame(column3)
Map_insu["States"]=Map_insu["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Map_insu["States"]=Map_insu["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Map_insu["States"]=Map_insu["States"].str.replace("-"," ")
Map_insu["States"]=Map_insu["States"].str.title()
Map_insu["District"]=Map_insu["District"].str.title()
Map_insu


#map_transaction
path4="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list=os.listdir(path4)

column4={'States':[], 'Year':[],'Quarter':[],'District':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in map_tran_list:
    cur_state=path4+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            E=json.load(data)
            for i in E["data"]["hoverDataList"]:
                amount=i["metric"][0]["amount"]
                count=i["metric"][0]["count"]
                name=i["name"]
                column4["District"].append(name)
                column4["Transaction_Amount"].append(amount)
                column4["Transaction_Count"].append(count)
                column4['States'].append(states)
                column4['Year'].append(year)
                column4['Quarter'].append(int(file.strip(".json")))

Map_trans=pd.DataFrame(column4)
Map_trans["States"]=Map_trans["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Map_trans["States"]=Map_trans["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Map_trans["States"]=Map_trans["States"].str.replace("-"," ")
Map_trans["States"]=Map_trans["States"].str.title()
Map_trans["District"]=Map_trans["District"].str.title()
Map_trans

#map_user
path5="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path5)

column5={'States':[], 'Year':[],'Quarter':[],'District':[],'Registered_user':[],'App_opens':[]}

for states in map_user_list:
    cur_state=path5+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            F=json.load(data)
            for i in F["data"]["hoverData"].items():
                district=i[0]
                registereduser=i[1]['registeredUsers']
                appopens=i[1]['appOpens']
                column5["District"].append(district)
                column5["Registered_user"].append(registereduser)
                column5["App_opens"].append(appopens)
                column5['States'].append(states)
                column5['Year'].append(year)
                column5['Quarter'].append(int(file.strip(".json")))
Map_user=pd.DataFrame(column5)
Map_user["States"]=Map_user["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Map_user["States"]=Map_user["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Map_user["States"]=Map_user["States"].str.replace("-"," ")
Map_user["States"]=Map_user["States"].str.title()
Map_user["District"]=Map_user["District"].str.title()
Map_user


#top_insu_pincode
path6="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/insurance/country/india/state/"
top_insu_list=os.listdir(path6)

column6={'States':[], 'Year':[],'Quarter':[],'Pincode':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in top_insu_list:
    cur_state=path6+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            G=json.load(data)
            for i in G["data"]["pincodes"]:
                entityname =i['entityName']
                amount = i['metric']['amount']
                count = i['metric']['count']
                column6["Pincode"].append(entityname)
                column6["Transaction_Amount"].append(amount)
                column6["Transaction_Count"].append(count)
                column6['States'].append(states)
                column6['Year'].append(year)
                column6['Quarter'].append(int(file.strip(".json")))

Top_insu_pincode=pd.DataFrame(column6)
Top_insu_pincode["States"]=Top_insu_pincode["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_insu_pincode["States"]=Top_insu_pincode["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_insu_pincode["States"]=Top_insu_pincode["States"].str.replace("-"," ")
Top_insu_pincode["States"]=Top_insu_pincode["States"].str.title()
Top_insu_pincode

#top_insu_district
path7="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/insurance/country/india/state/"
top_insu_list=os.listdir(path7)

column7={'States':[], 'Year':[],'Quarter':[],'Districts':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in top_insu_list:
    cur_state=path6+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            H=json.load(data)
            for i in H["data"]["districts"]:
                entityname =i['entityName']
                amount = i['metric']['amount']
                count = i['metric']['count']
                column7["Districts"].append(entityname)
                column7["Transaction_Amount"].append(amount)
                column7["Transaction_Count"].append(count)
                column7['States'].append(states)
                column7['Year'].append(year)
                column7['Quarter'].append(int(file.strip(".json")))

Top_insu_districts=pd.DataFrame(column7)
Top_insu_districts["States"]=Top_insu_districts["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_insu_districts["States"]=Top_insu_districts["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_insu_districts["States"]=Top_insu_districts["States"].str.replace("-"," ")
Top_insu_districts["States"]=Top_insu_districts["States"].str.title()
Top_insu_districts["Districts"]=Top_insu_districts["Districts"].str.title()
Top_insu_districts

#top transaction_pincode
path8="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path8)

column8={'States':[], 'Year':[],'Quarter':[],'Pincode':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in top_trans_list:
    cur_state=path8+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            I=json.load(data)
            for i in I["data"]["pincodes"]:
                entityname =i['entityName']
                amount = i['metric']['amount']
                count = i['metric']['count']
                column8["Pincode"].append(entityname)
                column8["Transaction_Amount"].append(amount)
                column8["Transaction_Count"].append(count)
                column8['States'].append(states)
                column8['Year'].append(year)
                column8['Quarter'].append(int(file.strip(".json")))

Top_trans_pincode=pd.DataFrame(column8)
Top_trans_pincode["States"]=Top_trans_pincode["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_trans_pincode["States"]=Top_trans_pincode["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_trans_pincode["States"]=Top_trans_pincode["States"].str.replace("-"," ")
Top_trans_pincode["States"]=Top_trans_pincode["States"].str.title()
Top_trans_pincode


#top transaction_districts
path9="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path9)

column9={'States':[], 'Year':[],'Quarter':[],'Districts':[],'Transaction_Amount':[],'Transaction_Count':[]}

for states in top_trans_list:
    cur_state=path9+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            J=json.load(data)
            for i in J["data"]["districts"]:
                entityname =i['entityName']
                amount = i['metric']['amount']
                count = i['metric']['count']
                column9["Districts"].append(entityname)
                column9["Transaction_Amount"].append(amount)
                column9["Transaction_Count"].append(count)
                column9['States'].append(states)
                column9['Year'].append(year)
                column9['Quarter'].append(int(file.strip(".json")))

Top_trans_districts=pd.DataFrame(column9)
Top_trans_districts["States"]=Top_trans_districts["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_trans_districts["States"]=Top_trans_districts["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_trans_districts["States"]=Top_trans_districts["States"].str.replace("-"," ")
Top_trans_districts["States"]=Top_trans_districts["States"].str.title()
Top_trans_districts["Districts"]=Top_trans_districts["Districts"].str.title()
Top_trans_districts


#top_user_pincode
path10="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path10)

column10={'States':[], 'Year':[],'Quarter':[],'Pincode':[],'Registered_users':[]}

for states in top_user_list:
    cur_state=path10+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            K=json.load(data)
            for i in K["data"]["pincodes"]:
                name=i['name']
                registered_users=i['registeredUsers']
                column10["Pincode"].append(name)
                column10["Registered_users"].append(registered_users)                
                column10['States'].append(states)
                column10['Year'].append(year)
                column10['Quarter'].append(int(file.strip(".json")))

Top_user_pincode=pd.DataFrame(column10)
Top_user_pincode["States"]=Top_user_pincode["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_user_pincode["States"]=Top_user_pincode["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_user_pincode["States"]=Top_user_pincode["States"].str.replace("-"," ")
Top_user_pincode["States"]=Top_user_pincode["States"].str.title()
Top_user_pincode


#top_user_district
path11="C:/Users/NANDHINI/Desktop/vs data science/project2/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path11)

column11={'States':[], 'Year':[],'Quarter':[],'District':[],'Registered_users':[]}

for states in top_user_list:
    cur_state=path11+states+"/"
    map_year_list=os.listdir(cur_state)

    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            L=json.load(data)
            for i in L["data"]["districts"]:
                name=i['name']
                registered_users=i['registeredUsers']
                column11["District"].append(name)
                column11["Registered_users"].append(registered_users)                
                column11['States'].append(states)
                column11['Year'].append(year)
                column11['Quarter'].append(int(file.strip(".json")))

Top_user_district=pd.DataFrame(column11)
Top_user_district["States"]=Top_user_district["States"].replace("andaman-&-nicobar-islands","Andaman & Nicobar island")
Top_user_district["States"]=Top_user_district["States"].replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli and Daman & Diu")
Top_user_district["States"]=Top_user_district["States"].str.replace("-"," ")
Top_user_district["States"]=Top_user_district["States"].str.title()
Top_user_district

In [ ]:
##Database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepe")
print(mydb)
mycursor = mydb.cursor(buffered=True)

In [ ]:
#Agg_insu
create_query1 = '''
    CREATE TABLE IF NOT EXISTS phonepe.aggregated_insurance (
        States varchar(100),
        Year int,
        Quarter int,
        Transaction_name varchar(100),
        Transaction_amount float,
        Transaction_count int
    )
'''
mycursor.execute(create_query1)
insert_query1 = '''
    INSERT INTO phonepe.aggregated_insurance 
    (States, Year, Quarter, Transaction_name, Transaction_amount, Transaction_count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Agg_insu.values.tolist()
mycursor.executemany(insert_query1,data)

#Agg_trans
create_query2 = '''
    CREATE TABLE if not exists phonepe.aggregated_transaction (
        States varchar(100),
        Year int,
        Quarter int,
        Transaction_type varchar(100),
        Transaction_count int,
        Transaction_amount float
    )
'''
mycursor.execute(create_query2)
insert_query2 = '''
    INSERT INTO phonepe.aggregated_transaction 
    (States, Year, Quarter, Transaction_type, Transaction_count, Transaction_amount)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Agg_Trans.values.tolist()
mycursor.executemany(insert_query2,data)

#Agg_user
create_query3 = '''
    CREATE TABLE if not exists phonepe.aggregated_user (
        States varchar(100),
        Year int,
        Quarter int,
        Brand varchar(100),
        Count int,
       Percentage float
    )
'''
mycursor.execute(create_query3)

insert_query3 = '''
    INSERT INTO phonepe.aggregated_user 
    (States, Year, Quarter, Brand, Count, Percentage)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Agg_user.values.tolist()
mycursor.executemany(insert_query3,data)

#Map_insu
create_query4 = '''
    CREATE TABLE if not exists phonepe.map_insurance(
        States varchar(100),
        Year int,
        Quarter int,
        District varchar(100),
        Transaction_Amount float,
       Transaction_Count int
    )
'''
mycursor.execute(create_query4)
insert_query4 = '''
    INSERT INTO phonepe.map_insurance 
    (States, Year, Quarter, District, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Map_insu.values.tolist()
mycursor.executemany(insert_query4,data)

#Map_trans
create_query5 = '''
    CREATE TABLE if not exists phonepe.map_transaction(
        States varchar(100),
        Year int,
        Quarter int,
        District varchar(100),
        Transaction_Amount float,
       Transaction_Count int
    )
'''
mycursor.execute(create_query5)

insert_query5 = '''
    INSERT INTO phonepe.map_transaction 
    (States, Year, Quarter, District, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Map_trans.values.tolist()
mycursor.executemany(insert_query5,data)

#map_user
create_query6 = '''
    CREATE TABLE if not exists phonepe.map_user(
        States varchar(100),
        Year int,
        Quarter int,
        District varchar(100),
        Registered_user int,
        App_opens int)
'''
mycursor.execute(create_query6)
insert_query6 = '''
    INSERT INTO phonepe.map_user
    
    (States, Year, Quarter, District, Registered_user, App_opens)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Map_user.values.tolist()
mycursor.executemany(insert_query6,data)

#Top_insu_pincode
create_query7 = '''
    CREATE TABLE if not exists phonepe.top_insu_pincode(
        States varchar(100),
        Year int,
        Quarter int,
        Pincode int,
        Transaction_Amount float,
        Transaction_Count int)
'''
mycursor.execute(create_query7)

insert_query7 = '''
    INSERT INTO phonepe.top_insu_pincode
    
    (States, Year, Quarter, Pincode, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
# Assuming Agg_insu is a tuple or a list of tuples
data=Top_insu_pincode.values.tolist()
mycursor.executemany(insert_query7,data)

#Top_insu_districts
create_query8 = '''
    CREATE TABLE if not exists phonepe.top_insu_district(
        States varchar(100),
        Year int,
        Quarter int,
        Districts varchar(15),
        Transaction_Amount float,
        Transaction_Count int)
'''
mycursor.execute(create_query8)
insert_query8 = '''
    INSERT INTO phonepe.top_insu_district
    
    (States, Year, Quarter, Districts, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Top_insu_districts.values.tolist()
mycursor.executemany(insert_query8,data)

#Top_trans_pincode
create_query9 = '''
    CREATE TABLE if not exists phonepe.top_transaction_pincode(
        States varchar(100),
        Year int,
        Quarter int,
        Pincode int,
        Transaction_Amount float,
        Transaction_Count int)
'''
mycursor.execute(create_query9)

insert_query9 = '''
    INSERT INTO phonepe.top_transaction_pincode
    
    (States, Year, Quarter, Pincode, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Top_trans_pincode.values.tolist()
mycursor.executemany(insert_query9,data)

#Top_trans_districts
create_query10 = '''
    CREATE TABLE if not exists phonepe.top_transaction_districts(
        States varchar(100),
        Year int,
        Quarter int,
        Districts varchar(20),
        Transaction_Amount float,
        Transaction_Count int)
'''
mycursor.execute(create_query10)
insert_query10 = '''
    INSERT INTO phonepe.top_transaction_districts
    
    (States, Year, Quarter,Districts, Transaction_Amount, Transaction_Count)
    VALUES (%s, %s, %s, %s, %s, %s)
'''
mydb.commit()
data=Top_trans_districts.values.tolist()
mycursor.executemany(insert_query10,data)

#Top_user_district

create_query11 = '''
    CREATE TABLE if not exists phonepe.top_user_district(
        States varchar(100),
        Year int,
        Quarter int,
        District varchar(25),
        Registered_users int
        )
'''
mycursor.execute(create_query11)
insert_query11 = '''
    INSERT INTO phonepe.top_user_district
    
    (States, Year, Quarter,District, Registered_users)
    VALUES (%s, %s, %s, %s, %s)
'''
mydb.commit()
data=Top_user_district.values.tolist()
mycursor.executemany(insert_query11,data)

#Top_user_pincode
create_query12 = '''
    CREATE TABLE if not exists phonepe.top_user_pincode(
        States varchar(100),
        Year int,
        Quarter int,
        Pincode int,
        Registered_users int
        )
'''
mycursor.execute(create_query12)
insert_query12 = '''
    INSERT INTO phonepe.top_user_pincode
    
    (States, Year, Quarter,Pincode, Registered_users)
    VALUES (%s, %s, %s, %s, %s)
'''
mydb.commit()
data=Top_user_pincode.values.tolist()
mycursor.executemany(insert_query12,data)